<?xml version="1.0" encoding="utf-8" ?>
<AlimamaGetRegs>
  <TokenReg>
    <![CDATA[(?<=<input type=\"hidden\" value=\").*?(?=\" name=\"_tb_token_\">)|(?<=<input name='_tb_token_' type='hidden' value=').*?(?='>)]]>
  </TokenReg>
  <ItemReg>
    <![CDATA[(?<=<tr zhekoujia=\".*\" zhekou=\".*\">).*?(?=</tr>)]]>
  </ItemReg>
  <ItemIdReg>
    <![CDATA[(?<=name=\"linkexport\" value=\")\d+?(?=\")]]>
  </ItemIdReg>
  <ItemTitleReg>
    <![CDATA[(?<=<a target=\"_blank\" href=\"http://item\.taobao\.com:80/item\.htm\?id=\d*\" lzlinkno=\"\d*\">).*?(?=</a>)]]>
  </ItemTitleReg>
  <ItemNickReg>
    <![CDATA[(?<=掌柜：).*?(?=\n)]]>
  </ItemNickReg>
  <ItemCouponRateReg>
    XMLNODE|2
  </ItemCouponRateReg>
  <ItemCouponPriceReg>
    XMLNODE|3
  </ItemCouponPriceReg>
  <ItemCommissionRateReg>
    XMLNODE|4
  </ItemCommissionRateReg>
  <ItemCommissionReg>
    XMLNODE|5-1
  </ItemCommissionReg>
  <ItemCommissionNumReg>
    XMLNODE|6
  </ItemCommissionNumReg>
  <ItemCommissionVolumeReg>
    XMLNODE|7
  </ItemCommissionVolumeReg>
</AlimamaGetRegs>