<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="error" xsi:type="File" fileName="${basedir}/logs/error.txt"
            layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${level}] ${message} 详情：${onexception:inner=${exception:format=ToString} ${newline}}" />
    <target name="debug" xsi:type="File" fileName="${basedir}/logs/debug.txt"
            layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${level}] ${message}" />
    <target name="info" xsi:type="File" fileName="${basedir}/logs/info.txt"
            layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${level}] ${message}" />
  </targets>
  <rules>
    <logger name="error" minlevel="Error" maxlevel="Fatal" writeTo="error" />
    <logger name="debug" minlevel="Debug" maxlevel="Debug" writeTo="debug" />
    <logger name="info" minlevel="Info" maxlevel="Info" writeTo="info" />
  </rules>
</nlog>