.index_newslist
{
    clear: both;
    background: #fff;
    font: 宋体,15px; /*width: 600px;*/
    margin: 5px 3px 0 0;
    border: 1px solid #D0D0D0; /* float:left;*/
    border-bottom: 0px;
}

.catalogue_title
{
    background-color: #FFFFFF;
    font-family: "宋体";
    border-bottom: 1px dotted #D0D0D0;
}
.catalogue_title h3
{
    text-align: left;
    padding: 5px;
    font-size: 15px;
    margin: 0px;
}
.catalogue_title a
{
    text-decoration: none;
    color: #E2316B;
}

.article
{
    background-color: #fff;
    padding: 0px 15px 0px 10px;
    text-align: left;
    font-size: 14px;
    line-height: 25px;
    margin-right: 5px;
}
.article_title
{
    font-family: 黑体,宋体;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 66px;
}
.article_info
{
    text-align: center;
    border-bottom: 1px dashed #CCCCCC;
    color: #666666;
    font-size: 13px;
}
.article_info span
{
    margin: 0px 10px;
}
.article_sumary
{
    font-size: 14px;
    margin: 10px 5px;
    border: 1px dashed #CCCC77;
    color: #CCCCCC;
    padding: 10px;
}
.article_content
{
    margin: 0px 5px;
    font-size: 14px;
}
.article_related
{
    margin: 0px 5px;
}
.article a
{
    color: #000;
}
.article a:hover
{
    color: #E2316B;
}