.topad
{
    width: 320px;
    overflow: hidden;
    text-align: center;
    font-family: "微软雅黑" , "宋体" ,Arial,serif;
}

.topad .topaditem
{
    width: 320px;
    overflow: hidden;
    margin: 0px auto;
    margin-bottom:5px;
}
.topad .topaditem img
{
    border: 0px;
}
.topad .topaditem h1, .topad .topaditem h2, .topad .topaditem h3
{
    clear: both;
    margin: 0px;
}


.topad .topaditem h1, .topad .topaditem h2, .topad .topaditem h3 a {
    color: #000000;
    text-decoration: none;
}

.topad .topaditem h1, .topad .topaditem h2, .topad .topaditem h3 a:hover {
    color: #E2316B;
}

.topad .topaditem .topsdot
{
    height: 43px;
    background: url("../images/rank_top.gif") no-repeat scroll 0 0 transparent;
    border-right:1px solid #ccc;
}

.topad .topaditem .topsdot h3
{
    font-size: 12px;
    overflow: hidden;
    padding-top: 10px;
    text-align: left;
    padding-left:25px;
}

.topad .topaditem .topdetail
{
    background: none repeat scroll 0 0 #FFFFFF;
    border-color:  #CCCCCC;
    border-style: none solid solid;
    border-width: 1px;
    margin-left: 2px;
    overflow: hidden;
    padding: 10px;
}

.topad .topaditem .topdetail .topimg
{
    overflow: hidden;
}

.topad .topaditem .topdetail .topmeta
{
    margin-top:-100px;
}

.topad .topaditem .topdetail .topmeta .S_qg
{
    background-color: #D8165B;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}

.topad .topaditem .topdetail .topmeta .S_qg .jiage
{
    float: left;
    margin-left: 10px;
}

.topad .topaditem .topdetail .topmeta .S_qg .jiage span.S_fh
{
    color: #FFFFFF;
    font-size: 35px;
}

.topad .topaditem .topdetail .topmeta .S_qg .jiage span.S_je
{
    color: #FFFFFF;
    font-size: 30px;
}

.topad .topaditem .topdetail .topmeta .S_qg .qgimg
{
    width: 83px;
    height: 48px;
    float: right;
    margin-right: 10px;
}
.topad .topaditem .topdetail .topmeta .S_small_meta
{    
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    overflow: hidden;
}


.topad .topaditem .topdetail .topmeta .S_7t
{
    margin-top: 10px;
}

.topad .topaditem .topdetail .topmeta .S_rank
{
    font-size: 15px;
    text-indent: 30px;
}

.topad .topaditem .topdetail .topmeta .S_rank span
{
    color: #E2316B;
    font-size: 20px;
    font-weight: bold;
}

.transparent
{
    filter: alpha(opacity=90);
    -moz-opacity: 0.90;
    opacity: 0.90;
    background-color: #000;
}
