<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <appSettings>
    <!--淘宝客接口信息-->
    <add key="topusername" value="wenwenxing"/>
    <add key="topurl" value="http://gw.api.taobao.com/router/rest"/>
    <add key="topappkey" value="21483603"/>
    <add key="topappsecret" value="2d32fed042c7ff593c5fd986d957bcc5"/>
    <!--获取广告方法，0使用api，1使用本地数据库,2表示从qq开放平台获取-->
    <add key="topgetway" value="2"/>
    <!--临时excel文件路径-->
    <add key="excelpath" value="~\temp\topitems.xls"/>
  </appSettings>

  <connectionStrings>
    <clear/>
    <add name="mainBase" connectionString="data source=local;port:0;dbpath=~\App_Data\db.top;user=user;password=user;"/>
    <add name="adBase" connectionString="data source=local;port:0;dbpath=~\App_Data\ad.top;user=user;password=user;"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="TopLogic.MemebershipProvider" connectionStringName="ApplicationServices"
     enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
     maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
     applicationName="/" />
      </providers>
    </membership>
    <httpRuntime requestValidationMode="2.0" />

    <customErrors mode="RemoteOnly" defaultRedirect="mycustompage.htm"/>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="error" xsi:type="File" fileName="${basedir}/App_Data/error.txt"
              layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${level}] ${message} 详情：${onexception:inner=${exception:format=ToString} ${newline}}" />
      <target name="debug" xsi:type="File" fileName="${basedir}/App_Data/debug.txt"
              layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${level}] ${message}" />
      <target name="info" xsi:type="File" fileName="${basedir}/App_Data/info.txt"
              layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${level}] ${message}" />
    </targets>
    <rules>
      <logger name="error" minlevel="Error" maxlevel="Fatal" writeTo="error" />
      <logger name="debug" minlevel="Debug" maxlevel="Debug" writeTo="debug" />
      <logger name="info" minlevel="Info" maxlevel="Info" writeTo="info" />
    </rules>
  </nlog>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
</configuration>
